@charset "UTF-8";
html{
    background: url('../modelo/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.container > *{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 26px;
    text-align: center;
    transition: all 150ms ease;
}
.container > *:hover{
    background-color: rgb(255, 255, 255, 0.4);
}

/*----------------------------*/
.container{
    display: flex;
    border: 2px solid white;
    width: 500px;
    flex-wrap: wrap-reverse;
}

