@charset "UTF-8";
html{
    background: url('../modelo/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}
.container > *{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 26px;
    text-align: center;
    transition: all 150ms ease;
}
.container > *:hover{
    background-color: rgb(255, 255, 255, 0.4);
}

/*----------------------------*/
.menu{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
    .menu__item{
        flex: 1 1 20vw;
        margin: 5px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .menu__link{
            color: white;
            display: block;
            padding: 20px;
            text-decoration: none;
        }