@charset "UTF-8";
/*Demais mídias*/
/*Typical Device Breakpoints

Pequenas telas: até 480px
Celular: 481px até 768px
Tablet: 769px até 1024px
Desktop: 1025px até 1200px
TV: acima de 1201px

*/
@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    /*body{
        background-image: url(../img/back-print.jpg); (não imprimi background
    }*/
    main{
        border: 2px solid black;
    }
    main::after{
        content: 'Essa impressão foi modificada por media query';
        font-weight: 900;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone{
        display: none;
     }
    img#print{
        display: block;
    } 
}
@media screen and (min-width: 769px) and (max-width: 1100px) {
    body{
        background-image: url(../img/back-tablet.jpg);
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: block;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
     body{
        background-image: url(../img/back-pc.jpg);
     }
     img#phone{
        display: none;
     }
    img#pc{
        display: block;
    }  
}
@media screen and (min-width: 1601px){
     body{
        background-image: url(../img/back-tv.jpg);
     }
     img#phone{
        display: none;
     }
    img#tv{
        display: block;
    } 
}
