@charset "UTF-8";

@media screen and (min-width: 50em) {
    .header_main {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .header_main__navigation {
        width: auto;
    }

    .header_main__navigation__list {
        flex-direction: row;
        gap: 1.6rem;
        background-color: transparent;
    }
    .header_main__navigation__list li:not(.header_main__navigation__list li:last-child){
        border: none;
    }
    .header_main__navigation__list a {
        color: var(--color-primary);
    }
    .header_main__navigation__list a:hover {
        background-color: transparent;
    }

    /**********************************************************/
    
    .hero_main{
        background-color: var(--color-primary);
    }
    .hero_main *{
        color: white;
    }
    .hero_main__icon{
        display: block;
    }
    .hero_main > div.max_width > p{
        width: 80%;
    }

    /**********************************************************/
    .col_md_6{
        width: calc(50% - var(--space-elements-md));
    }
    
}