@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(65, 124, 54);
    color: white;
}
h1{
    margin-bottom: 1em;
}
.gallery{
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    background-color: white;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.486);
    gap: 1em;
}
.container_image{
    flex-basis: calc(25% - 1em);
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.container_image img{
    display: block;
    max-width: 100%;
    transform: scale(1);
    transition: transform 0.5s ease-out;
    transition-property: all;
    transition-duration: 0.5s;
}
.container_image:hover img{
    transform: scale(1.2);
}
.container_image::after{
    content: "";;
    position: absolute;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    inset: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    transform: scale(1);
}

.container_image:hover::after{
    opacity: 0;
    transform: scale(0);
}

.container_image a{
    overflow: hidden;
    text-decoration: none;
}
.container_image a p{
    position: absolute;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: white;
    padding: 8px;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.25s ease-in-out;
    text-transform: uppercase;
    font-size: 0.75em;
}
.container_image:hover p{
    transform: translateY(0);
}
