@charset "UTF-8";
/*estilo impressora*/
*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    font-weight: 900;
    content: 'Esse artigo foi impresso do site www.cursoemvideo.com';
}
article{
    width: 100%;
}
