<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Título da página</title>
        <meta name="description" content="descrição objetiva sobre o conteúdo da página">
        <meta name="author" content="Luiz Felipe Veiga Souza">
        <meta name="keywords" content="html,css,javascript">
        <style>
            #div1{
                background-color: rgba(255, 0, 0, .5);
                padding: 10px;
                width: 90%;
                /* height: 100px; */
                position: sticky;
            }
            #div2{
                background-color: rgba(0, 255, 0, .5);
                padding: 10px;
                width: 80%;
                height: 50px;
                position: static;
                left: 100px;
            }
            #div3{
                background-color: rgba(0, 0, 255, .5);
                padding: 10px;
                width: 30px;
                height: 30px;
                position: fixed;
                top: 20px;
                right: 20px;
            }
        </style>
    </head>
    <body>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>

        <div id="div1">
            1
            <div id="div2">
                2
                <div id="div3">
                    3
                </div>
            </div>
        </div>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, voluptas? Possimus, consectetur eveniet! Ipsum molestias placeat, nostrum cum distinctio vitae at quibusdam quam minus eaque commodi minima dolorum consectetur natus?</p>
    </body>
</html>