@charset "utf-8";
h1{
    font-weight: 700;
    font-size: 2.5em;
}
h1{
    font-family: 'montserrat', serif;  
    font-weight: bolder;
}
p{
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}
p{
    font: italic 600 1.3em 'Kaushan Script';
    text-align: justify;
    text-indent: 1em;
}


h2{
    font-family: 'Roboto', sans-serif;
}