@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primary: rgb(92, 190, 92); 
    --color-primary-dark: color-mix(in srgb, var(--color-primary), black 60%); 
    --color-primary-veryDark: color-mix(in srgb, var(--color-primary), black 80%); 
}

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-primary);
    font-size: 1.3rem;
    line-height: 1.5em;

}

.container{
    max-width: 35rem;
    padding: 2rem;
    margin: 4rem auto;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.493);
}

form input,
form label,
form button{
    padding: 0.2rem;
    display: block;
    width: 100%;
    margin: 0.2rem 0px;
}

form button{
    background-color: var(--color-primary);
    border-radius: 0.3rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin-top: 1.4rem;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;

    transition-duration: 0.13s;
}

form button:hover{
    background-color: var(--color-primary-dark);
    color: white;
}

form button:active{
    background-color: var(--color-primary-veryDark);
}

form input{
    font-size: 1.2rem;
    height: 2rem;
    padding: 1rem;

    margin-bottom: 0.5rem;
}

table{
    width: 100%;
}
table thead{
    font-weight: bold;
}

.main_title{
    margin-top: 0px;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

input[type="text"]{
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.6rem;
    margin: 1.5rem 0px;
}
.btn{
    padding: 1.5rem;
    font-size: 1.4rem;
    background-color: rgb(184, 184, 184);
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 4px;
    transition: 0.13s;
}

.btn-eq{
    background-color: var(--color-primary);
}

.btn:hover{
    background-color: color-mix(in srgb, rgb(184, 184, 184), black 20%);
    color: white;
}

.btn-eq:hover{
    background-color: color-mix(in srgb, var(--color-primary), black 20%);
}